html {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 68, 0);
    font-weight: bold;
}

.text {
    font-size: 20px;
}

.des {
    text-align: center;
    background-color: beige;
}

.img {
    width: 400;
}