html {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-size: 50px;
    text-align: center;
    color: rgb(255, 68, 0);
    font-weight: bold;
    margin-bottom: 0px;
}

.text {
    font-size: 20px;
}

.des {
    text-align: center;
    background-color: beige;
    margin-bottom: 0px;
}

.destext {
    margin-top: 0px;
    padding-top: 0px;
}

.img {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.img img {
    width: 500px; /* Set the desired width of the image */
}